@using SocialWeave.Extensions;
@using SocialWeave.Models.ConcreteClasses;

@model SocialWeave.Models.ViewModels.UserPageViewModel

<div class="text-center">
    @if (User.Identity.Name == Model.User.Name)
    {
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="info-text">Your profile</h2>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-14 text-center">
                <h2 class="info-text">Profile of @Model.User.Name</h2>
            </div>
        </div>
    }
</div>

<div class="user-profile" style="display: flex; flex-direction: column; align-items: center;">
    <div style="display: flex; align-items: center;">
        <div style="margin-right: 220px;">
            <form asp-action="ShowAdmirers" asp-controller="User" method="get" asp-route-id="@Model.User.Id">
                <button type="submit" class="btn text-primary">
                    <h4 class="text-wrap">Admirers: @Model.CountAdmirer</h4>
                </button>
            </form>
        </div>
        <div style="margin-right: 30px">
            @if (Model.User.PictureProfile != null)
            {
                <img src="data:image/png;base64,@(Convert.ToBase64String(Model.User.PictureProfile))" class="img-fluid rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" />
            }
            @if (User.Identity.Name == Model.User.Name && Model.User.PictureProfile != null)
            {
                <div class="me-2 mx-3" style="margin-top: 10px">
                    <a asp-action="AddPictureProfile" asp-controller="User"><i class="bi bi-file-image-fill mx-2"></i>Change picture</a>
                </div>
            }
            @if (User.Identity.Name == Model.User.Name && Model.User.PictureProfile == null)
            {
                <div class="me-2 mx-3" style="margin-top: 10px">
                    <a asp-action="AddPictureProfile" asp-"><i class="bi bi-file-image-fill mx-2"></i>Add picture</a>
                </div>
            }
            @if (Model.User.Name != User.Identity.Name)
            {
                @if (await Model.HaveAdmiredAsync(Model.User.Name, User.Identity.Name))
                {
                    <div class="me-2 mx-2" style="margin-top: 10px">
                        <form asp-action="RemoveAdmiration" asp-controller="User" asp-route-id="@Model.User.Id">
                            <button type="submit" class="btn btn-outline-warning"><i class="bi bi-emoji-tear mx-1"></i>Withdraw admiration</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="me-2 mx-5" style="margin-top: 10px">
                        <form asp-action="AddAdmiration" asp-controller="User" asp-route-id="@Model.User.Id">
                            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-emoji-kiss mx-2"></i>Admire</button>
                        </form>
                    </div>
                }
            }
        </div>
        <div style="margin-left: 220px;">
            <form asp-action="ShowAdmired" asp-controller="User" method="get" asp-route-id="@Model.User.Id">
                <button type="submit" class="btn text-primary">
                    <h4 class="text-wrap">Admire: @Model.CountAdmired</h4>
                </button>
            </form>
        </div>
    </div>
    <div class="custom-border" style="margin-top: 90px"></div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="info-text">Infos</h2>
        </div>
    </div>
    @if (User.Identity.Name == Model.User.Name)
    {
        <form id="changeDescriptionForm" asp-action="ChangeDescription" asp-controller="User" method="post">
            <div class="description-birthdate-container">
                <div class="description-container text-center mx-auto" style="width: 50%;">
                    <div class="description-text">
                        <label asp-for="User.Description" class="form-label">Description:</label>
                        <textarea id="descriptionTextArea" class="form-control bg-light text-dark" rows="5" name="description">@Model.User.Description.CutDescription()</textarea>
                        <span asp-validation-for="User.Description" class="text-danger"></span>
                    </div>
                </div>
        </form>
        <div class="birthdate-container text-center">
            <p>Birth Date: </p>
            <h9>@Model.User.BirthDate.ToString("dd/MM/yyyy")</h9>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-6">
                <div class="description-birthdate-container">
                    <div class="description-container text-center">
                        <label asp-for="User.Description" class="form-label">Description:</label>
                        <div class="description-text bg-light text-dark p-10" style="margin-left: auto; margin-right: auto;">
                            <div class="form-control bg-light text-dark" style="word-wrap: break-word;" readonly>
                                @Html.Raw(Model.User.Description.CutDescription())
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="birthdate-container text-center" style="10px">
                    <p>Birth Date: </p>
                    <h9>@Model.User.BirthDate.ToString("dd/MM/yyyy")</h9>
                </div>
            </div>
        </div>
    }
</div>
<div class="custom-border"></div>

<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="info-text">@Model.User.Posts.Count() Posts</h2>
    </div>
</div>



@if (Model == null)
{
    <div class="text-center">
        <h4><strong>No posts</strong></h4>
        <a asp-action="Index" asp-controller="Home"><i class="bi bi-arrow-clockwise"></i></a>
    </div>
}

@if (User.Identity.IsAuthenticated)
{

    <div class="container text-center">
        @foreach (var post in Model.User.Posts)
        {
            if (post is PostWithoutImage)
            {
                <div class="post" style="margin-bottom: 80px;">
                    <div class="text-xxl-center">
                    </div>
                    @if (User.Identity.Name == post.User.Name)
                    {
                        <form method="get" asp-action="Edit" asp-route-id="@post.Id" asp-controller="Post">
                            <button class="btn text-primary" type="submit"><i class="bi bi-pen"></i></button>
                        </form>
                    }
                    <div class="post-header">
                        @if (post.User.PictureProfile == null)
                        {
                            <button class="btn text-dark" asp-action="UserPage" asp-controller="User"><h5><i class="bi bi-person-circle me-2"></i>@post.User.Name.CutName()</h5></button>
                        }
                        else
                        {
                            <button class="btn text-dark" style="margin-right: 20" asp-action="UserPage" asp-controller="User"><img src="data:image/png;base64,@(Convert.ToBase64String(post.User.PictureProfile))" class="img-fluid rounded-circle me-2" style="width: 40px; height: 40px; object-fit: cover;" /> @post.User.Name.CutName()</button>
                        }
                        <div style="margin-right: 20px">
                            <p>@post.Date.Duration()</p>
                        </div>
                    </div>
                    <div class="post-content text-xxl-center">
                        <p>@post.Description.CutDescription()</p>
                        <div class="d-flex justify-content-between mb-3">
                            <button class="btn btn-outline-primary toggle-comments" data-post-id="@post.Id"><i class="bi bi-chat-left-text"></i></button>
                            <div class="d-flex flex-column">
                                @if (post.Likes != null && post.Likes.Count() != 0&&post.Likes.Any(l => l.User.Name == User.Identity.Name))
                                {
                                    <form method="post" asp-action="Dislike" asp-route-id="@post.Id" asp-controller="Post" class="me-3">
                                        <button class="text-xxl-end btn btn-purple" type="submit"><i class="bi bi-heart-fill text-danger"></i> <span class="m-0 text-danger">@post.Likes.CountLikes()</span></button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-action="Like" asp-route-id="@post.Id" asp-controller="Post" class="me-3">
                                        <button type="submit" class="btn btn-purple"><i class="bi bi-heart text-danger"></i> <span class="m-0 text-danger">@post.Likes.CountLikes()</span></button>
                                    </form>
                                }
                            </div>
                        </div>
                        <div class="text-xxl">
                            <div class="post-comments" data-post-id="@post.Id" style="display: none;">
                                <div class="comment">
                                    <div class="custom-border"></div>
                                    <p class="text-center text-primary">Comments</p>
                                    <div class="custom-border"></div>
                                    @if (post.Comments == null || !post.Comments.Any())
                                    {
                                        <h6 class="text-center">No exist comments in this post</h6>
                                    }
                                    else
                                    {
                                        <div class="text-center">
                                            @foreach (var comment in post.Comments)
                                            {
                                                <div class="comment-container d-flex align-items-center mb-3">
                                                    <div class="comment-details">
                                                        @if (comment.User.PictureProfile == null)
                                                        {
                                                            <h9 class="text-primary d-inline-block"><i class="bi bi-person-circle mx-2 text-primary"></i>@comment.User.Name.CutName()</h9>
                                                            <p class="d-inline-block mx-2">@comment.Text.CutComment()</p>
                                                        }
                                                        else
                                                        {
                                                            <form asp-action="UserPageWithParams" asp-controller="User" method="get">
                                                                <input type="hidden" name="name" value="@post.User.Name" />
                                                                <button class="btn text-dark"><img src="data:image/png;base64,@(Convert.ToBase64String(comment.User.PictureProfile))" class="img-fluid rounded-circle me-2" style="width: 40px; height: 40px; object-fit: cover;" /> @post.User.Name.CutName():</button>
                                                                <p class="d-inline-block mx-2">@comment.Text.CutComment()</p>
                                                            </form>
                                                        }
                                                    </div>
                                                    <div class="comment-like ms-auto">
                                                        @if (comment.Likes != null && comment.Likes.Count() != 0 && post.Likes.Any(l => l.User.Name == User.Identity.Name))
                                                        {
                                                            <form method="post" asp-action="DislikeComment" asp-route-id="@comment.Id" asp-controller="Post">
                                                                <button type="submit" class="btn btn-like-comment"><i class="bi bi-heart-fill text-danger"></i> <span class="m-0 text-danger">@comment.Likes.CountLikes()</span></button>
                                                            </form>
                                                        }
                                                        else
                                                        {
                                                            <form method="post" asp-action="LikeComment" asp-route-id="@comment.Id" asp-controller="Post">
                                                                <button type="submit" class="btn btn-like-comment"><i class="bi bi-heart text-danger"></i> <span class="m-0 text-danger">@comment.Likes.CountLikes()</span></button>
                                                            </form>
                                                        }
                                                    </div>
                                                </div>
                                                <hr />
                                            }
                                        </div>
                                    }
                                    <a class="btn btn-outline-primary text-xxl-center mb-3" asp-route-id="@post.Id" asp-action="CreateComment" asp-controller="Post"><i class="bi bi-chat-left text-primary"></i> Add Comment</a>
                                </div>
                                <form class="add-comment-form" style="display: none;">
                                    <input type="text" class="form-control mb-3" placeholder="Add a comment..." />
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                PostWithImage postImage = post as PostWithImage;

                <div class="post" style="margin-bottom: 80px;">
                    @if (User.Identity.Name == post.User.Name)
                    {
                        <form method="get" asp-action="Edit" asp-route-id="@post.Id" asp-controller="Post">
                            <button class="btn text-primary" type="submit"><i class="bi bi-pen"></i></button>
                        </form>
                    }
                    <div class="post-header">
                        @if (postImage.User.PictureProfile == null)
                        {
                            <div class="text-xxl-start">
                                <form asp-action="UserPageWithParams" asp-controller="User" method="get">
                                    <input type="hidden" name="name" value="@postImage.User.Name" />
                                    <button type="submit" class="btn text-dark"><i class="bi bi-person-circle me-2"></i>@postImage.User.Name.CutName()</button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <form asp-action="UserPageWithParams" asp-controller="User" method="get">
                                <input type="hidden" name="name" value="@post.User.Name" />
                                <button class="btn text-dark"><img src="data:image/png;base64,@(Convert.ToBase64String(postImage.User.PictureProfile))" class="img-fluid rounded-circle me-2" style="width: 40px; height: 40px; object-fit: cover;" /> @post.User.Name.CutName()</button>
                            </form>
                        }

                        <div class="post-meta" style="margin-right: 20px">
                            <p>@postImage.Date.Duration()</p>
                        </div>
                    </div>
                    <div class="post-content text-xxl-center">
                        <p>@postImage.Description.CutDescription()</p>
                        <div class="post-content text-xxl-center">
                            <img src="data:image/png;base64,@(Convert.ToBase64String(postImage.Image))" class="img-fluid" style="max-width: 60%; height: auto;" />
                        </div>
                    </div>
                    <div class="post-content text-xxl-start">
                        <div class="d-flex justify-content-between mb-3" style="margin-top: 20px;">
                            <button class="btn btn-outline-primary toggle-comments" data-post-id="@postImage.Id"><i class="bi bi-chat-left-text"></i></button>
                            <div class="d-flex flex-column">
                                @if (postImage.Likes != null && postImage.Likes.Count() != 0 && postImage.Likes.Any(l => l.User.Name == User.Identity.Name))
                                {
                                    <form method="post" asp-action="Dislike" asp-route-id="@postImage.Id" asp-controller="Post" class="me-3">
                                        <button class="text-xxl-end btn btn-purple" type="submit"><i class="bi bi-heart-fill text-danger"></i> <span class="m-0 text-danger">@postImage.Likes.CountLikes()</span></button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-action="Like" asp-route-id="@postImage.Id" asp-controller="Post" class="me-3">
                                        <button type="submit" class="btn btn-purple"><i class="bi bi-heart text-danger"></i> <span class="m-0 text-danger">@postImage.Likes.CountLikes()</span></button>
                                    </form>
                                }
                            </div>
                        </div>
                        <div class="text-xxl">
                            <div class="post-comments" data-post-id="@postImage.Id" style="display: none;">
                                <div class="comment">
                                    <div class="custom-border"></div>
                                    <p class="text-center text-primary">Comments</p>
                                    <div class="custom-border"></div>
                                    @if (postImage.Comments == null || !postImage.Comments.Any())
                                    {
                                        <h6 class="text-center">No exist comments in this post</h6>
                                    }
                                    else
                                    {
                                        <div class="text-center">
                                            @foreach (var comment in postImage.Comments)
                                            {
                                                <div class="comment-container d-flex align-items-center mb-3">
                                                    <div class="comment-details">
                                                        @if (comment.User.PictureProfile == null)
                                                        {
                                                            <h9 class="text-primary d-inline-block"><i class="bi bi-person-circle mx-2 text-primary"></i>@comment.User.Name.CutName()</h9>
                                                            <p class="d-inline-block mx-2">@comment.Text.CutComment()</p>

                                                        }
                                                        else
                                                        {
                                                            <form asp-action="UserPageWithParams" asp-controller="User" method="get">
                                                                <input type="hidden" name="name" value="@post.User.Name" />
                                                                <button class="btn text-dark"><img src="data:image/png;base64,@(Convert.ToBase64String(comment.User.PictureProfile))" class="img-fluid rounded-circle me-2" style="width: 40px; height: 40px; object-fit: cover;" /> @comment.User.Name.CutName():</button>
                                                                <p class="d-inline-block mx-2">@comment.Text.CutComment()</p>
                                                            </form>
                                                        }
                                                    </div>
                                                    <div class="comment-like ms-auto">
                                                        @if (comment.Likes != null && comment.Likes.Count() != 0 && postImage.Likes.Any(l => l.User.Name == User.Identity.Name))
                                                        {
                                                            <form method="post" asp-action="DislikeComment" asp-route-id="@comment.Id" asp-controller="Post">
                                                                <button type="submit" class="btn btn-like-comment"><i class="bi bi-heart-fill text-danger"></i> <span class="m-0 text-danger">@comment.Likes.CountLikes()</span></button>
                                                            </form>
                                                        }
                                                        else
                                                        {
                                                            <form method="post" asp-action="LikeComment" asp-route-id="@comment.Id" asp-controller="Post">
                                                                <button type="submit" class="btn btn-like-comment"><i class="bi bi-heart text-danger"></i> <span class="m-0 text-danger">@comment.Likes.CountLikes()</span></button>
                                                            </form>
                                                        }
                                                    </div>
                                                </div>
                                                <hr />
                                            }
                                        </div>
                                    }
                                    <a class="btn btn-outline-primary text-xxl-center mb-3" asp-route-id="@postImage.Id" asp-action="CreateComment" asp-controller="Post"><i class="bi bi-chat-left text-primary"></i> Add Comment</a>
                                </div>
                                <form class="add-comment-form" style="display: none;">
                                    <input type="text" class="form-control mb-3" placeholder="Add a comment..." />
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="custom-border"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="info-text">@Model.Comments.Count() Comments</h2>
        </div>
    </div>
    <div class="post">
    <div class="text-center">
        @foreach (var comment in Model.Comments)
        {
            <form asp-action="UserPageWithParams" asp-controller="User" method="get">
                <input type="hidden" name="name" value="@comment.Post.User.Name" />
                <button class="text-primary btn">@comment.Post.User.Name.CutName() post</button>
            </form>
            <div class="comment-container d-flex align-items-center mb-3">
                <div class="comment-details">
                    @if (comment.User.PictureProfile == null)
                    {
                        <h9 class="text-primary d-inline-block"><i class="bi bi-person-circle mx-2 text-primary"></i>@comment.User.Name.CutName()</h9>
                        <p class="d-inline-block mx-2">@comment.Text.CutComment()</p>

                    }
                    else
                    {
                        <form asp-action="UserPageWithParams" asp-controller="User" method="get">
                            <input type="hidden" name="name" value="@comment.Post.User.Name" />
                            <button class="btn text-dark"><img src="data:image/png;base64,@(Convert.ToBase64String(comment.User.PictureProfile))" class="img-fluid rounded-circle me-2" style="width: 40px; height: 40px; object-fit: cover;" /> @comment.User.Name.CutName():</button>
                            <p class="d-inline-block mx-2">@comment.Text.CutComment()</p>
                        </form>
                    }
                </div>
                @if (Model.User.Name == User.Identity.Name)
                {
                    <div class="comment-like ms-auto">
                        <form method="post" asp-action="DeleteComment" asp-route-id="@comment.Id" asp-controller="Post">
                            <button type="submit" class="btn"><i class="bi bi-trash3-fill text-danger"></i></button>
                        </form>
                    </div>
                }
                else
                {
                    @if (comment.Likes != null && comment.Likes.Any(l => l.User.Name == User.Identity.Name))
                    {
                        <form method="post" asp-action="DislikeComment" asp-route-id="@comment.Id" asp-controller="Post">
                            <button type="submit" class="btn btn-like-comment"><i class="bi bi-heart-fill text-danger"></i> <span class="m-0 text-danger">@comment.Likes.CountLikes()</span></button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-action="LikeComment" asp-route-id="@comment.Id" asp-controller="Post">
                            <button type="submit" class="btn btn-like-comment"><i class="bi bi-heart text-danger"></i> <span class="m-0 text-danger">@comment.Likes.CountLikes()</span></button>
                        </form>
                    }
                }
            </div>
            <hr />
        }
    </div>
    </div>

}

@if (Model == null)
{
    <div class="text-center">
        <h4><strong>This account no have posts!</strong></h4>
        <a asp-action="Index" asp-controller="Home"><i class="bi bi-arrow-clockwise"></i></a>
    </div>
}

<style>
    .custom-border {
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #000080, #4B0082);
        margin: 90px 0;
    }

    .post {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 80px;
    }

    .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .post-meta {
        text-align: center;
    }

    .description-birthdate-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description-container {
        background-color: white;
        width: 100%;
        text-align: center;
    }

    .birthdate-container {
        width: 60%;
        margin-top: 20px;
        margin-left: 20px;
        text-align: center;
    }

    .info-text {
        background: linear-gradient(to right, #000080, #4B0082);
        -webkit-background-clip: text;
        color: transparent;
        padding: 10px 20px;
        margin-bottom: 20px;
    }

    .description-birthdate-container {
        margin-top: 20px;
    }

</style>


@section Scripts {
    <script>
        document.querySelectorAll('.toggle-comments').forEach(btn => {
            btn.addEventListener('click', () => {
                const postId = btn.getAttribute('data-post-id');
                const comments = document.querySelector(`.post-comments[data-post-id="${postId}"]`);
                comments.style.display = comments.style.display === 'none' ? 'block' : 'none';
            });
        });

        document.querySelectorAll('.btn-like-comment').forEach(btn => {
            btn.addEventListener('click', (event) => {
                event.stopPropagation();
            });
        });
        document.getElementById('descriptionTextArea').addEventListener('keydown', function (event) {
            if (event.key === 'Enter' && !event.shiftKey) {
                event.preventDefault();
                document.getElementById('changeDescriptionForm').submit();
            }
        });
    </script>
}
